.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-button-container button {
  width: 150px;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-family: 'Gentium Basic', serif;
  border: 4px solid #c3b70c;
  border-radius: 12px;
  background-color: #ffffff;
  color: rgb(59, 54, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button-container button:hover {
  background-color: #fff562;
}

.home img {
  width: auto;
  height: 40vh;
}
