.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-button-container button {
  width: 200px;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-family: Verdana, sans-serif;
  border: 3px solid #988f08;
  border-radius: 12px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;
}

.home-button-container button:hover {
  background-color: #fff562;
  transform: translateY(10px);
}

.home img {
  width: auto;
  height: 40vh;
}
